---
layout: default
permalink: /brews/
---
<section id="brew-intro">
  <div class="wrapper">
    <h1><img src="/assets/images/scheme/{{ site.scheme }}/beer.svg" alt="Beer"> My Brews!</h1>
    <p>Here is a list of my current and past brews since I've started recording them. This list is tracked and pulled from <a href="http://wunderlist.com" target="_blank">Wunderlist</a> using their API. The date signifies when the brew was/is ready to bottle!</p>
  </div>
</section>

<section class="post-list">
  <div class="wrapper">
    {% for brew in site.data.brews %}
      <article>
        <div class="post-meta">
          <time datetime="{{ brew.created_at }}" pubdate>
            {% assign d = brew.due | date: "%-d"  %}
            {{ brew.due | date: "%b" }} 
            {% case d %}
              {% when '1' or '21' or '31' %}{{ d }}st
              {% when '2' or '22' %}{{ d }}nd
              {% when '3' or '23' %}{{ d }}rd
              {% else %}{{ d }}th
            {% endcase %}
          </time>
        </div>

        <h3 {% if brew.completed %}class="strike"{% endif %}>
          <a href="#" onClick="javascript: return: false">{{ brew.title }}</a>
        </h3>
        <p>
          Status: <strong>{% if brew.completed == false %}Brewing{% else %}Bottled{% endif %}</strong>
          <br>
          <small>{% if brew.note %}{{ brew.note | newline_to_br }}{% else %}No recipe entered.{% endif %}</small>
        </p>
      </article>
    {% endfor %}
  </div>
</section>