/**
 * Fonts.
 */
@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Regular.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Regular.woff") format("woff"), url("/assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Bold.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Bold.woff") format("woff"), url("/assets/fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Light.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Light.woff") format("woff"), url("/assets/fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/**
 * Main styles.
 */
body {
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
  background: #121827;
  color: #9b968c;
}

a {
  color: #d0a97f;
}

ul {
  padding-left: 1.5em;
}

.highlighter-rouge {
  font-size: 0.8em;
  border: 1px solid;
  padding: 0 0.4em;
}

/**
 * Site header.
 */
.site-head {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.site-head .site-head__link {
  text-decoration: none;
  color: #b43f51;
}

.site-head .site-head__item {
  display: block;
  font-weight: bold;
}

.site-head .site-head__item:first-child {
  font-size: 2em;
  margin: 0.67em 0;
}

.site-head .site-head__item:last-child {
  font-size: 1.17em;
  margin: 1em 0;
}

/**
 * Site footer.
 */
.site-tail {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  line-height: 26px;
}

.site-tail .site-tail__sep {
  margin-bottom: 2em;
  border-width: 0.1rem;
  border-color: #1a253a;
}

.site-tail .site-tail__avatar {
  border-radius: 50%;
  border: 0.3rem solid #d0a97f;
  width: 5em;
  height: 5em;
  display: block;
}

.site-tail .site-tail__author {
  color: #d0a97f;
}

@media (min-width: 768px) {
  .site-tail .site-tail__avatar {
    float: left;
    margin-left: 4rem;
  }
}

@media (min-width: 768px) {
  .site-tail .site-tail__inner {
    padding-left: 10em;
  }
}

/**
 * Article listing.
 */
.article-list .article-list__item {
  margin-bottom: 4rem;
}

.article-list .article-list__link {
  line-height: 26px;
  color: #f09162;
}

.article-list .article-list__meta {
  font-size: 0.85em;
  color: #9b968c;
}

/**
 * Buttons.
 */
.button {
  border-radius: 5px;
  border-color: #d0a97f;
  background: #d0a97f;
  color: #121827;
}

/**
 * Article/post.
 */
.post .post__head {
  padding-bottom: 3rem;
}

.post .post__meta {
  color: #d0a97f;
}

.post .post__title {
  color: #9b968c;
}

.post pre {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 5px;
  border-radius: 5px;
  border-color: #9b968c;
  border-left-color: #9b968c;
  background: #1a253a;
}

.post pre::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.post pre::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}

.post pre::-webkit-scrollbar {
  background: #9b968c;
}

.post pre::-webkit-scrollbar-thumb:horizontal {
  background: #000;
}

.post .highlighter-rouge {
  border-radius: 5px;
  border-color: #9b968c;
  background: #1a253a;
}

.post code .err {
  visibility: hidden;
}

.post p a + em {
  color: #9b968c;
}

.post blockquote {
  border-left-color: #9b968c;
}

.post p,
.post ul,
.post ol {
  line-height: 26px;
}

.post p img {
  display: block;
  margin: 0 auto;
}

.post a {
  font-weight: 500;
  color: #b43f51;
}

.post p a + em {
  text-align: center;
  font-size: 0.75em;
  display: inherit;
  margin-top: 0.5rem;
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: 400;
  color: #f09162;
}

.post h2 .anchor,
.post h3 .anchor,
.post h4 .anchor,
.post h5 .anchor,
.post h6 .anchor {
  font-size: 16px;
  position: relative;
  top: -12px;
  left: -10px;
  display: inline-block;
  text-decoration: none;
}

.post h2 .anchor:hover,
.post h3 .anchor:hover,
.post h4 .anchor:hover,
.post h5 .anchor:hover,
.post h6 .anchor:hover {
  text-decoration: underline;
}

.post .highlight {
  border-radius: 5px;
  background-color: transparent;
}

/**
 * Warnings.
 */
.warning.warning--post {
  padding: 0.5em;
  font-size: 80%;
  text-align: center;
  font-style: italic;
  margin: 1em 0 0 0;
  border-radius: 5px;
  background-color: #d0a97f;
  color: #000;
}

/**
 * Post/page sources.
 */
 .sources {
  font-size: 0.75em;
  margin-top: 5rem;
  text-align: right;
}

.sources .sources__link {
  color: #b43f51;
  font-weight: 500; 
}

/**
 * 404.
 */
body[data-handle="404"] main {
  text-align: center;
}

body[data-handle="404"] .sources {
  display: none;
}

/**
 * Site colors.
 */
.site-colors {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.site-colors .site-colors__color {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.site-colors .color--a {
  background-color: #121827;
}

.site-colors .color--b {
  background-color: #1a253a;
}

.site-colors .color--c {
  background-color: #9b968c;
}

.site-colors .color--d {
  background-color: #d0a97f;
}

.site-colors .color--e {
  background-color: #f09162;
}

.site-colors .color--f {
  background-color: #b43f51;
}
