/**
 * Fonts.
 */
@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Regular.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Regular.woff") format("woff"), url("/assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Bold.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Bold.woff") format("woff"), url("/assets/fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Light.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Light.woff") format("woff"), url("/assets/fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/**
 * Variables.
 */
:root {
  --width: 1000px;

  --container-padding: 4em;
  --tab-title-padding: 1em 1.5em;
  --tab-title-short-padding: 1em 1.5em .5em 1.5em;
  --tab-spacing: 4em;
  --content-lr-padding: 1em;
  --content-padding: 1.25em var(--content-lr-padding);
  --index-item-padding: 1.25em 1em;
  --button-padding: .5em 1em;
  --sources-padding: 1rem .5rem;
  
  --background-color: #e8e8e8;
  --background-code-color: #f0f0f0;

  --font-color: #333333;
  --font-color-reverse: #ffffff;

  --color-muted: #c2b9b0;
  --color-grey-light: #dadada;
  --color-grey-dark: #b0b0b0;
  --color-navy: #1a3d63;
  --color-orange: #ff7f50;
  --color-blue: #6fa3ef;
  --color-green: #4caf50;
  --color-gold: #f5c542;
}

/**
 * Reset.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/**
 * Base styling.
 */
body {
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

.container {
  max-width: var(--width);
  padding: var(--container-padding) 0;
  margin: 0 auto;
}

.container.container--short {
  padding-top: 0;
}

.content-container {
  padding: var(--content-lr-padding);
}

/**
 * Site header.
 */
.site-head {
  padding-top: var(--container-padding);
}

.site-head .site-head__link {
  font-weight: bold;
  font-size: 5em;
  color: var(--font-color);
  text-decoration: none;
}

.site-head .site-head__item.site-head__item--tag {
  display: block;
  font-size: 1.25em;
  color: var(--color-grey-dark);
}

.site-head .site-head__item.site-head__item--tag span {
  display: none;
}

/**
 * Site tail.
 */
.site-tail {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto;
  gap: 1em;
}

.site-tail .site-tail__avatar {
  grid-column: 1;
  grid-row: 1;
}

.site-tail .site-tail__about {
  grid-column: 2;
  grid-row: 1;
}

.site-tail .site-tail__blurb {
  margin-top: .5em;
}

.site-tail .site-tail__blurb span {
  display: none;
}

.site-tail .site-tail__blurb-ext {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.site-tail .site-tail__blurb-ext .site-tail__blurb {
  margin-top: 0;
}

.site-tail .site-tail__links {
  display: flex;
  gap: .5em;
  grid-column: 1 / span 2;
  grid-row: 3;
}

.site-tail .site-tail__links .button {
  font-size: .9em;
}

.site-tail .site-tail__avatar-img {
  width: 100px;
  border: 5px solid var(--font-color);
}

.site-tail .site-tail__author {
  margin-top: 0;
}

.site-tail .site-tail__author a {
  color: var(--font-color);
  text-decoration: none;
  border-bottom: 3px solid var(--font-color);
}

/**
 * Site colors.
 */
.site-colors {
  list-style: none;
}

.site-colors .site-colors__color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-color: var(--font-color);
  border-style: solid;
  border-width: 5px;
}

.site-colors .color--a {
  background-color: var(--background-color);
}

.site-colors .color--b {
  background-color: var(--font-color);
}

.site-colors .color--c {
  background-color: var(--color-grey-light);
}

.site-colors .color--d {
  background-color: var(--color-blue);
}

.site-colors .color--e {
  background-color: var(--color-navy)
}

.site-colors .color--f {
  background-color: var(--color-green);
}

.site-colors .color--g {
  background-color: var(--color-gold);
}

.site-colors .color--h {
  background-color: var(--color-orange);
}

/**
 * Buttons.
 */
.button {
  padding: var(--button-padding);
  border: 5px solid var(--font-color);
  border-bottom-width: 7px;
  color: var(--font-color);
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-grey-light);
}

.button.button--strong {
  font-weight: bold;
}

.button.button--shadow {
  box-shadow: 5px 4px 0px 0px rgb(0 0 0 / 40%);
  border-bottom-width: 5px;
}

.button.button--success {
  color: var(--color-green);
}

.button.button--warning {
  color: var(--color-orange);
}

.button.button--navy {
  color: var(--color-navy);
}

.button.button--blue {
  color: var(--color-blue);
}

.button.button--gold {
  color: var(--color-gold);
}

/**
 * Tab.
 */
.tab__title {
  display: inline-block;
  min-width: 200px;
  margin: 0;
  padding: var(--tab-title-padding);
  background-color: var(--font-color);
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-color-reverse);
}

.tab__title--short {
  padding: var(--tab-title-short-padding);
}

.tab__container {
  border-style: solid;
  border-color: var(--font-color);
  border-width: 8px 5px 5px 5px;
}

.tab__container--padded {
  padding: var(--tab-container-padding);
}

.tab__content p:first-child {
  margin-top: 0;
}

.tab + .tab {
  margin-top: var(--tab-spacing);
}

.tab.tab--appendix a {
  color: var(--color-green);
}

/**
 * Index listing.
 */
.index-list {
  list-style: none;
  padding: 0;
}

.index-list.index-list--no-margins {
  margin: 0;
}

.index-list .index-list__item {
  display: flex;
  align-items: start;
  gap: .85em;
  padding: var(--index-item-padding);
}

.index-list .index-list__item:not(:last-child) {
  border-bottom: 3px solid var(--font-color);
}

.index-list .index-list__item:hover {
  background-color: var(--color-grey-light);
}

.index-list .index-list__icon {
  font-weight: bold;
  font-size: 1.5em;
}

.index-document {
  display: grid;
  align-items: center;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 100%;
}

.index-document .index-document__title {
  grid-column: 1 / 3;
  margin: 0;
  color: var(--color-navy);
  line-height: 1.5;
}

.index-document .index-document__title-link {
  text-decoration: none;
  color: var(--color-navy);
  border-bottom: 2px solid var(--color-navy);
  padding-bottom: .05em;
}

.index-document .index-document__meta {
  line-height: 1.7;
}

.index-document .index-document__meta--size {
  text-align: right;
  padding-right: 1em;
}

/**
 * Sources.
 */
.layout--page .sources {
  text-align: right;
  margin-top: 1rem;
  padding: var(--sources-padding);
}

.layout--post .sources {
  display: inline-block;
}

.sources .sources__link {
  color: var(--color-grey-dark);
}

/**
 * Post.
 */
.post pre:not(.sourceCode) {
  border-left: 5px solid var(--color-orange);
  background-color: var(--background-code-color);
}

.post pre:has(code) {
  padding: 1em;
}

.post div.sourceCode {
  padding: 1em;
  border-left: 5px solid var(--color-orange);
  background-color: var(--background-code-color);
}

.post div.sourceCode pre {
  padding: 0;
}

.post div.sourceCode::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.post div.sourceCode::-webkit-scrollbar {
  background: var(--background-code-color);
}

.post div.sourceCode::-webkit-scrollbar-thumb:horizontal {
  background: var(--color-orange);
}

.post p > code {
  word-break: break-all;
  font-size: 1.3em;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: var(--color-orange);
  background: var(--background-code-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.post code .err {
  visibility: hidden;
}

.post p a + em {
  text-align: center;
  font-size: 0.75em;
  display: inherit;
  margin-top: 0.5rem;
}

.post blockquote {
  border-left-color: var(--font-color);
}

.post a {
  color: var(--color-blue);
  font-weight: bold;
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: normal;
}

.post p img {
  display: block;
  margin: 0 auto;
}

.post .post__head {
  margin-bottom: 2em;
}

.post.tab .post__head {
  margin-bottom: 0;
}

.post .post__title.tab__title {
  margin: 0;
}

.post .post__meta {
  display: flex;
  color: var(--color-grey-dark);
}

.post .post__meta .post__details {
  flex: 1 0 50%;
}

.post .post__meta .post__category {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 50%;
  gap: .5em;
}

.post .post__meta .post__category .post__category-logo {
  width: 40px;
  height: auto;
}

.post .post__meta .post__category .post__category-logo[src*="shopify"] {
  width: 20px;
}

.post .post__meta .post__category .post__category-logo[src*="vuejs"],
.post .post__meta .post__category .post__category-logo[src*="javascript"],
.post .post__meta .post__category .post__category-logo[src*="react"],
.post .post__meta .post__category .post__category-logo[src*="laravel"],
.post .post__meta .post__category .post__category-logo[src*="wordpress"] {
  width: 25px;
}

.post .post__meta .post__category .post__category-logo[src*="php"] {
  width: 45px;
}

.post .post__meta .post__category .post__category-logo[src*="cmd"],
.post .post__meta .post__category .post__category-logo[src*="sinatra"] {
  width: 30px;
}

.post .post__meta .post__category .post__category-logo[src*="python"],
.post .post__meta .post__category .post__category-logo[src*="symfony"],
.post .post__meta .post__category .post__category-logo[src*="ruby"] {
  width: 23px;
}

/**
 * About
 */
body[data-handle="about"] .about__heads {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
}

body[data-handle="about"] .about__heads img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  border: 5px solid var(--font-color);
}

body[data-handle="about"] .post figure {
  margin-top: 0;
  margin-bottom: 6em;
}

body[data-handle="about"] .post figcaption {
  display: none;
}

/**
 * Warnings.
 */
.warning.warning--post {
  font-style: italic;
  color: var(--color-orange);
}

/**
 * Desktop styles.
 */
@media screen and (min-width: 768px) {
  .container {
    padding: var(--container-padding);
  }

  .site-head .site-head__item.site-head__item--tag,
  .site-head .site-head__item.site-head__item--tag span {
    display: inline-block;
  }

  .site-tail .site-tail__author {
    margin-bottom: 1.5em;
  }

  .site-tail .site-tail__blurb span {
    display: block;
  }

  .site-tail .site-tail__blurb-ext {
    display: none;
  }

  .tab__title {
    min-width: 300px;
  }

  .index-list .index-list__item {
    align-items: center;
  }

  .index-list .index-list__icon {
    position: relative;
    top: 2px;
  }

  .index-document {
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: unset;
  }

  .index-document .index-document__title {
    grid-column: unset;
  }

  .index-document .index-document__meta--size {
    text-align: left;
    padding-right: unset;
  }

  body[data-handle="about"] .about__heads {
    flex-direction: row;
  }
}
