/**
 * Fonts.
 */
 @font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Regular.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Regular.woff") format("woff"), url("/assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Bold.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Bold.woff") format("woff"), url("/assets/fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/RobotoMono-Light.woff2") format("woff2"), url("/assets/fonts/RobotoMono-Light.woff") format("woff"), url("/assets/fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/**
  * SCHEME:
  * bkg: #193549
  * font: #e1ecff;
  * orange: #ff9d00
  * blue: #0584f9
  * bright blue: #0ddfe7
  * yellow: #f8c402
  * pink: #d08dc4
  * red: #da4c54
  * green: #42b889
  */
:root {
  --background-color: #193549;
  --background-alt-color: #122738;
  --foreground-color: #f3f7ff;
  --article-link-color: #f8c402;
  --article-link-meta-color: #0584f9;
  --site-head-color: #42b889;
  --post-title-color: #0ddfe7;
  --post-heading-color: #d08dc4;
  --sources-link-color: #ff9d00;
  --button-text-color: #121827;
  --warning-background: #da4c54;
}

/**
 * Main styles.
 */
body {
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
  background: var(--background-color);
  color: var(--foreground-color);
}

a {
  color: #ff9d00;
}

ul {
  padding-left: 1.5em;
}

.highlighter-rouge {
  font-size: 0.8em;
  border: 1px solid;
  padding: 0 0.4em;
}

/**
 * Site header.
 */
.site-head {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.site-head .site-head__link {
  text-decoration: none;
  color: var(--site-head-color);
}

.site-head .site-head__item {
  display: block;
  font-weight: bold;
}

.site-head .site-head__item:first-child {
  font-size: 2em;
  margin: 0.67em 0;
}

.site-head .site-head__item:last-child {
  font-size: 1.17em;
  margin: 1em 0;
}

/**
 * Site footer.
 */
.site-tail {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  line-height: 26px;
}

.site-tail .site-tail__sep {
  margin-bottom: 2em;
  border-width: 0.1rem;
  border-color: var(--background-alt-color);
}

.site-tail .site-tail__avatar {
  border-radius: 50%;
  border: 0.3rem solid var(--post-title-color);
  width: 5em;
  height: 5em;
  display: block;
}

.site-tail .site-tail__author {
  color: var(--post-title-color);
}

@media (min-width: 768px) {
  .site-tail .site-tail__avatar {
    float: left;
    margin-left: 4rem;
  }
}

@media (min-width: 768px) {
  .site-tail .site-tail__inner {
    padding-left: 10em;
  }
}

/**
 * Article listing.
 */
.article-list .article-list__item {
  margin-bottom: 4rem;
}

.article-list .article-list__link {
  line-height: 26px;
  color: var(--article-link-color);
}

.article-list .article-list__meta {
  font-size: 0.85em;
  color: var(--article-link-meta-color);
}

/**
 * Buttons.
 */
.button {
  border-radius: 5px;
  border-color: var(--site-head-color);
  background: var(--site-head-color);
  color: var(--button-text-color);
}

/**
 * Article/post.
 */
.post .post__head {
  padding-bottom: 3rem;
}

.post .post__meta {
  color: var(--article-link-meta-color);
}

.post .post__title {
  color: var(--post-title-color);
}

.post pre {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 5px;
  border-radius: 5px;
  border-color: var(--article-link-color);
  border-left-color: var(--article-link-color);
  background: var(--background-alt-color);
}

.post pre::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.post pre::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}

.post pre::-webkit-scrollbar {
  background: var(--background-color);
}

.post pre::-webkit-scrollbar-thumb:horizontal {
  background: var(--article-link-color);
}

.post p > code {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-style: solid;
  border-left-width: 3px;
  border-radius: 5px;
  border-color: var(--article-link-color);
  border-left-color: var(--article-link-color);
  background: var(--background-alt-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.post code .err {
  visibility: hidden;
}

.post p a + em {
  color: var(--article-link-meta-color);
}

.post blockquote {
  border-left-color: var(--site-head-color);
}

.post p,
.post ul,
.post ol {
  line-height: 26px;
}

.post p img {
  display: block;
  margin: 0 auto;
}

.post a {
  font-weight: 500;
  color: var(--article-link-color);
}

.post p a + em {
  text-align: center;
  font-size: 0.75em;
  display: inherit;
  margin-top: 0.5rem;
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: 400;
  color: var(--post-heading-color);
}

.post h2 .anchor,
.post h3 .anchor,
.post h4 .anchor,
.post h5 .anchor,
.post h6 .anchor {
  font-size: 16px;
  position: relative;
  top: -12px;
  left: -10px;
  display: inline-block;
  text-decoration: none;
}

.post h2 .anchor:hover,
.post h3 .anchor:hover,
.post h4 .anchor:hover,
.post h5 .anchor:hover,
.post h6 .anchor:hover {
  text-decoration: underline;
}

.post .highlight {
  border-radius: 5px;
  background-color: transparent;
}

/**
 * Warnings.
 */
.warning.warning--post {
  padding: 0.5em;
  font-size: 80%;
  text-align: center;
  font-style: italic;
  margin: 1em 0 0 0;
  border-radius: 5px;
  background-color: var(--warning-background);
  color: var(--button-text-color);
}

/**
 * Post/page sources.
 */
 .sources {
  font-size: 0.75em;
  margin-top: 5rem;
  text-align: right;
}

.sources .sources__link {
  color: var(--sources-link-color);
  font-weight: 500; 
}

/**
 * 404.
 */
body[data-handle="404"] main {
  text-align: center;
}

body[data-handle="404"] .sources {
  display: none;
}

/**
 * Site colors.
 */
.site-colors {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.site-colors .site-colors__color {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.site-colors .color--a {
  background-color: var(--background-color);
}

.site-colors .color--b {
  background-color: var(--background-alt-color);
}

.site-colors .color--c {
  background-color: var(--foreground-color);
}

.site-colors .color--d {
  background-color: var(--article-link-meta-color);
}

.site-colors .color--e {
  background-color: var(--post-title-color)
}

.site-colors .color--f {
  background-color: var(--site-head-color);
}

.site-colors .color--g {
  background-color: var(--article-link-color);
}

.site-colors .color--h {
  background-color: var(--sources-link-color);
}

.site-colors .color--i {
  background-color: var(--post-heading-color);
}

.site-colors .color--j {
  background-color: var(--warning-background);
}
