    </main>
    <footer class="container">
        <hr>
        <a href="/about"><img src="/assets/images/me.jpg" alt="{{ site.about_name }}"></a>
        <div>
            <h3>{{ site.about_name }}</h3>
            <p>{{ site.about_short }}</p>
            <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener" class="button filled">Github</a>
            <a href="/about" class="button">About Me</a>
            <a href="/assets/files/cv.pdf" target="_blank" class="button">CV</a>
            <ul class="colors">
                <li class="color a"></li>
                <li class="color b"></li>
                <li class="color c"></li>
                <li class="color d"></li>
                <li class="color e"></li>
                <li class="color f"></li>
            </ul>
        </div>
    </footer>
</body>
</html>
