        </main>
        <footer class="container">
            <hr>
            <a href="/about"><img src="/assets/images/me.jpg" alt="{{ site.about_name }}"></a>
            <div>
                <h3>{{ site.about_name }}</h3>
                <p>{{ site.about_short }}</p>
                <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener" class="button filled">Github</a>
                <a href="/about" class="button">About Me</a>
                <a href="/assets/files/cv.pdf" target="_blank" class="button">CV</a>
            </div>
        </footer>
    </body>
</html>
