/**
 * Light Scheme
 */
body.scheme-light {
    background: $light-bkg;
    color: $light-font;

    a {
        color: $light-link;
    }

    & > footer {
        h3 {
            /* color: $light-link; */
            color: $light-font-faded;
        }

        img {
           border: 0.3rem solid $light-img-border;
        }

        hr {
            border-color: $light-footer-sep;
        }

        .button {
            background: $light-footer-btn-bkg;
            color: $light-footer-btn;
            border-color: $light-footer-btn-filled-bkg;

            &.filled {
                background: $light-footer-btn-filled-bkg;
                color: $light-footer-btn-filled;
            }
        }
    }

    main {
        h1, h2, h3, h4, h5, h6 {
            color: $light-heading;
        }
    }

    &.home {
        time {
            color: $light-font-faded;
        }
    }

    &.post {
        article {
            header {
                time {
                    /* color: $light-font-faded; */
                    color: $light-meta-accent;
                }

                h1 {
                    color: $light-meta;
                }
            }

            code {
                &.highlighter-rouge {
                    border-color: $light-meta-accent;
                    background: $light-bkg-alt;
                }
            }

            pre {
                border-color: $light-meta-accent;
                border-left-color: $light-meta-accent;
                background: $light-bkg-alt;
            }

            p {
                a + em {
                    color: $light-meta-accent;
                }
            }

            blockquote {
                border-left-color: $light-meta-accent;
            }
        }

        .warning.post-old {
            background-color: lighten($light-heading, 35%);
        }
    }
}

/**
 * Dark Scheme
 */
body.scheme-dark {
    background: $dark-bkg;
    color: $dark-font;

    a {
        color: $dark-link;
    }

    & > footer {
        color: $dark-footer-color;

        img {
            border: 0.3rem solid $dark-img-border;
        }

        hr {
            border-color: $dark-footer-sep;
        }

        .button {
            background: $dark-footer-btn-bkg;
            color: $dark-footer-btn;

            &.filled {
                background: $dark-footer-btn-filled-bkg;
                color: $dark-footer-btn-filled;
            }
        }
    }


    main {
        h1, h2, h3, h4, h5, h6 {
            color: $dark-heading;
        }
    }

    &.post {
        .warning.post-old {
            background-color: lighten($dark-heading, 35%);
        }
    }
}
