body {
    background: $light-bkg;
    color: $light-font;

    a {
        color: $light-link;
    }

    & > header {
        a {
            color: $light-logo-color;
        }
    }

    & > footer {
        h3 {
            color: $light-font-faded;
        }

        img {
           border: 0.3rem solid $light-img-border;
        }

        hr {
            border-color: $light-footer-sep;
        }

        .button {
            background: $light-footer-btn-bkg;
            color: $light-footer-btn;
            border-color: $light-footer-btn-filled-bkg;

            &.filled {
                background: $light-footer-btn-filled-bkg;
                color: $light-footer-btn-filled;
            }
        }

        .colors {
            .color {
                &.a {
                    background-color: $light-bkg;
                }

                &.b {
                    background-color: $light-bkg-alt;
                }

                &.c {
                    background-color: $light-font;
                }

                &.d {
                    background-color: $light-font-faded;
                }

                &.e {
                    background-color: $light-heading;
                }

                &.f {
                    background-color: $light-link-head;
                }
            }
        }
    }

    main {
        h1, h2, h3, h4, h5, h6 {
            color: $light-link;
        }
    }

    &.home {
        time {
            color: $light-font;
        }

        article ul li a {
            color: $light-article-link;
        }
    }

    &.post {
        article {
            header {
                time {
                    color: $light-font-faded;
                }

                h1 {
                    color: $light-font;
                }
            }

            h2, h3, h4, h5, h6 {
                color: $light-heading;
            }

            div.highlight {
                border-radius: 5px;
                background-color: transparent;;
            }

            code {
                &.highlighter-rouge {
                    border-color: $light-meta-accent;
                    background: $light-code-fence-bkg;
                }

                .err {
                    visibility: hidden;
                }
            }

            pre {
                border-color: $light-meta-accent;
                border-left-color: $light-meta-accent;
                background: $light-code-fence-bkg;

                &::-webkit-scrollbar{
                    background: $light-meta-accent;
                }
    
                &::-webkit-scrollbar-thumb:horizontal {
                    background: #000;
                }
            }

            p {
                a + em {
                    color: $light-meta-accent;
                }
            }

            a {
                color: $light-link-head;
            }

            blockquote {
                border-left-color: $light-meta-accent;
            }
        }

        .warning.post-old {
            background-color: $light-warn-bkg;
            color: #000;
        }
    }
}
