body {
    font-family: $font-family;

    & > header {
        text-align: center;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        font-size: 2.5rem;

        a {
            text-decoration: none;
        }

        & > span {
            display: block;
            font-weight: bold;

            &:first-child {
                font-size: 2em;
                margin: 0.67em 0;
            }

            &:last-child {
                font-size: 1.17em;
                margin: 1em 0;
            }
        }
    }

    & > footer {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
        line-height: 26px;

        hr {
            margin-bottom: 2em;
            border-width: 0.1rem;
        }

        img {
            border-radius: 50%;
            float: left;
            width: 5em;
            height: 5em;
            display: block;
            margin-left: 4rem;
        }

        div {
            padding-left: 10em;
        }
    }
}

ul {
    padding-left: 1.5em;
}

code {
    &.highlighter-rouge {
        font-size: 0.8em;
        border: 1px solid;
        padding: 0 0.4em;
    }
}

.home {
    ul {
        li {
            margin-bottom: 4rem;

            a {
                line-height: 26px;
            }

            span {
                font-size: .85em;
            }
        }
    }
}

.post {
    article {
        header {
            padding-bottom: 3rem;
        }

        p, ul, ol {
            line-height: 26px;
        }

        p {
            img {
                display: block;
                margin: 0 auto;
            }

            a + em {
                text-align: center;
                font-size: .75em;
                display: inherit;
                margin-top: .5rem;
            }
        }

        footer {
            margin-top: 5rem;
            text-align: right;
        }

        h2, h3, h4, h5, h6 {
            font-weight: 400;

            .anchor {
                font-size: 16px;
                position: relative;
                top: -12px;
                left: -10px;
                display: inline-block;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        a {
            font-weight: 500;
        }

        .warning.post-old {
            padding: .5em;
            font-size: 80%;
            text-align: center;
            font-style: italic;
            margin: 1em 0 0 0;
        }
    }
}
