body {
    background: $light-bkg;
    color: $light-font;

    a {
        color: $light-link;
    }

    & > header {
        a {
            color: $light-logo-color;
        }
    }

    & > footer {
        h3 {
            /* color: $light-link; */
            color: $light-font-faded;
        }

        img {
           border: 0.3rem solid $light-img-border;
        }

        hr {
            border-color: $light-footer-sep;
        }

        .button {
            background: $light-footer-btn-bkg;
            color: $light-footer-btn;
            border-color: $light-footer-btn-filled-bkg;

            &.filled {
                background: $light-footer-btn-filled-bkg;
                color: $light-footer-btn-filled;
            }
        }
    }

    main {
        h1, h2, h3, h4, h5, h6 {
            color: $light-heading;
        }
    }

    &.home {
        time {
            color: $light-font-faded;
        }

        article ul li a {
            color: $light-article-link;
        }
    }

    &.post {
        article {
            header {
                time {
                    color: $light-meta-accent;
                }

                h1 {
                    // color: $light-meta;
                    color: $light-heading;
                }
            }

            code {
                &.highlighter-rouge {
                    border-color: $light-meta-accent;
                    background: $light-code-fence-bkg;
                }

                .err {
                    visibility: hidden;
                }
            }

            pre {
                border-color: $light-meta-accent;
                border-left-color: $light-meta-accent;
                background: $light-code-fence-bkg;
            }

            p {
                a + em {
                    color: $light-meta-accent;
                }
            }

            blockquote {
                border-left-color: $light-meta-accent;
            }
        }

        .warning.post-old {
            background-color: $light-warn-bkg;
        }
    }
}
