$base-font-size: 1.8rem;
$font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;

// // Light scheme: Solarized Light
// $light-bkg: #fdf6e3;
// $light-bkg-alt: #eee8d5;
// $light-font: #333;
// $light-font-faded: #827f74;
// $light-heading: #e44e88;
// $light-img-border: $light-font-faded;
// $light-link: #268ed5;
// $light-article-link: #268ed5;
// $light-meta: #c29d2a;
// $light-meta-accent: #33a59b;
// $light-footer-color: $light-font;
// $light-footer-sep: $light-bkg-alt;
// $light-footer-btn-bkg: $light-bkg;
// $light-footer-btn: $light-font;
// $light-footer-btn-filled-bkg: $light-meta;
// $light-footer-btn-filled: $light-bkg;
// $light-logo-color: $light-link;
// $light-warn-bkg: ligthen($light-heading, 30$);

// // Light scheme: Cold dark
// $light-bkg: #e3eaf2;
// $light-bkg-alt: #74859a;
// $light-font: #333;
// $light-font-faded: $light-bkg-alt;
// $light-heading: #005a8e;
// $light-img-border: $light-font-faded;
// $light-link: #a65b1d; // #a258c4;
// $light-article-link: #a65b1d; // #a258c4;
// $light-meta: $light-bkg-alt;
// $light-meta-accent: $light-meta;
// $light-footer-color: $light-font;
// $light-footer-sep: $light-bkg-alt;
// $light-footer-btn-bkg: $light-bkg;
// $light-footer-btn: $light-font;
// $light-footer-btn-filled-bkg: $light-meta;
// $light-footer-btn-filled: $light-bkg;
// $light-logo-color: #036e6e;
// $light-code-fence-bkg: #d9e2ec;
// $light-warn-bkg: lighten($light-logo-color, 70%);

// Dark scheme: Stand with UA
$light-bkg: #0c2e4a;
$light-bkg-alt: #163b5c;
$light-font: #afc1db;
$light-font-faded: #5d82ac;
$light-heading: #bbbd4d;
$light-img-border: $light-font-faded;
$light-link: #be6b27;
$light-article-link: $light-heading;
$light-meta: #6082a8;
$light-meta-accent: $light-meta;
$light-footer-color: $light-font;
$light-footer-sep: $light-bkg-alt;
$light-footer-btn-bkg: $light-bkg;
$light-footer-btn: $light-font;
$light-footer-btn-filled-bkg: $light-meta;
$light-footer-btn-filled: $light-bkg;
$light-logo-color: $light-link; // #036e6e;
$light-code-fence-bkg: $light-bkg-alt;
$light-warn-bkg: lighten($light-logo-color, 70%);
