$base-font-size: 1.8rem;
$font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;

// Light scheme: Solarized Light
$light-bkg: #fdf6e3;
$light-bkg-alt: #eee8d5;
$light-font: #333;
$light-font-faded: #827f74;
$light-heading: #e44e88;
$light-img-border: $light-font-faded;
$light-link: #268ed5;
$light-meta: #c29d2a;
$light-meta-accent: #33a59b;
$light-footer-color: $light-font;
$light-footer-sep: $light-bkg-alt;
$light-footer-btn-bkg: $light-bkg;
$light-footer-btn: $light-font;
$light-footer-btn-filled-bkg: $light-meta;
$light-footer-btn-filled: $light-bkg;
