<li class="index-list__item">
  <div class="index-list__icon">
    $>
  </div>

  <article class="index-document">
    <h3 class="index-document__title{{#IS_ARCHIVED}} index-document__title--archived{{/IS_ARCHIVED}}">
      <a href="/category/{{CATEGORY}}" class="index-document__title-link">{{CATEGORY}}</a>
    </h3>
    <div class="index-document__meta index-document__meta--count">{{CATEGORY_COUNT}} posts</div>
    <div class="index-document__meta index-document__meta--misc">
      <img src="/assets/images/category-{{CATEGORY}}.svg" alt="Logo of {{CATEGORY}}" class="index-document__category-logo">
    </div>
  </article>
</li>
