<li class="index-list__item">
  <div class="index-list__icon">
    $>
  </div>

  <article class="index-document">
    <h3 class="index-document__title">
      <a href="/category/${category}" class="index-document__title-link">${category}</a>
    </h3>
    <div class="index-document__meta index-document__meta--count">${count} posts</div>
    <div class="index-document__meta index-document__meta--misc">
      <img src="/assets/images/category-${category}.svg" alt="Logo of ${category}" class="index-document__category-logo">
    </div>
  </article>
</li>
