  </main>

  <ul class="site-colors container container--short">
    <li class="site-colors__color color--a"></li>
    <li class="site-colors__color color--b"></li>
    <li class="site-colors__color color--c"></li>
    <li class="site-colors__color color--d"></li>
    <li class="site-colors__color color--e"></li>
    <li class="site-colors__color color--f"></li>
    <li class="site-colors__color color--g"></li>
    <li class="site-colors__color color--h"></li>
  </ul>

  <address class="site-foot container container--short">
    This page maintained by the webmaster &mdash; <a href="mailto:me@gnikyt.com" class="sources__link">me@gnikyt.com</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/gnikyt/gnikyt.github.io/issues" target="_blank" rel="noopener" class="sources__link">Sign my guestbook</a><br />
    Last updated {{BUILD_DATE}}. Best viewed in Netscape Navigator 4.0 at 800x600.
  </address>

  <script src="/assets/scripts/theme.js"></script>
  <script src="/assets/scripts/lightbox.js"></script>
</body>
