<!--
  Hello! Lookin' for something? Well... it was built quickly, hope thats OK with you!
  https://github.com/gnikyt/gnikyt.github.io
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{#IS_PAGE}}{{>templates/_seo_default.html}}{{/IS_PAGE}}
  {{#IS_POST}}{{>templates/_seo_post.html}}{{/IS_POST}}

  <link rel="preload" as="font" href="/assets/fonts/RobotoMono-Regular.woff2" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" as="font" href="/assets/fonts/RobotoMono-Bold.woff2" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" as="font" href="/assets/fonts/RobotoMono-Light.woff2" type="font/woff2" crossorigin="anonymous" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/assets/images/favicon.png" sizes="32x32" type="image/png" />
  <link rel="alternate" type="application/rss+xml" title="gnikyt feed" href="/rss.xml" />
  <link rel="stylesheet" href="/assets/styles/style.css" />
  <link rel="stylesheet" href="/assets/styles/highlight.css" />
</head>
<body class="layout layout--{{#IS_POST}}post{{/IS_POST}}{{#IS_PAGE}}page{{/IS_PAGE}}" data-handle="{{HANDLE}}">
  <header class="site-head container">
    <div class="site-head__item">
      <div class="site-head__title">
        <div class="site-head__title-inner">
          <span class="site-head__title-item"><a href="/" class="site-head__link">gnikyt</a></span>
          <span class="site-head__title-item site-head__title-item--tag"><span>&nbsp;&nbsp;</span>/&nbsp;&nbsp;Code ramblings</span>
        </div>
        <div class="site-head__title-inner">
          <a href="/about" class="site-head__avatar">
            <img src="/assets/images/me.jpg" alt="Ty King" class="site-head__avatar-img" />
          </a>
        </div>
      </div>
      <div class="site-nav">
        <a href="/about" class="button button--strong">About</a><a href="https://github.com/gnikyt" target="_blank" rel="noopener" class="button button--strong">Github</a><a href="https://linkedin.com/in/gnikyt" target="_blank" rel="noopener" class="button button--strong">LinkedIn</a><a href="/assets/files/cv.pdf" target="_blank" class="button button--strong">CV</a><a href="/rss.xml" target="_blank" class="button button--strong">RSS</a>
      </div>
    </div>
  </header>

  <main class="container">
