<!--
  Hello! Lookin' for something? Well... it was built quickly, hope thats OK with you!
  https://github.com/gnikyt/gnikyt.github.io
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{#IS_PAGE}}{{>templates/_seo_default.html}}{{/IS_PAGE}}
  {{#IS_POST}}{{>templates/_seo_post.html}}{{/IS_POST}}

  <link rel="preload" as="font" href="/assets/fonts/RobotoMono-Regular.woff2" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" as="font" href="/assets/fonts/RobotoMono-Bold.woff2" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" as="font" href="/assets/fonts/RobotoMono-Light.woff2" type="font/woff2" crossorigin="anonymous" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/assets/images/favicon.png" sizes="32x32" type="image/png" />
  <link rel="alternate" type="application/rss+xml" title="gnikyt feed" href="/rss.xml" />
  <link rel="stylesheet" href="/assets/styles/style.css" />
  <link rel="stylesheet" href="/assets/styles/highlight.css" />
</head>
<body class="layout layout--{{#IS_POST}}post{{/IS_POST}}{{#IS_PAGE}}page{{/IS_PAGE}}" data-handle="{{HANDLE}}">
  <header class="site-head container">
    <span class="site-head__item"><a href="/" class="site-head__link">gnikyt</a></span>
    <span class="site-head__item site-head__item--tag"><span>&nbsp;&nbsp;</span>/&nbsp;&nbsp;Code ramblings</span>
  </header>

  <main class="container">
