  </main>

  <footer class="site-tail container">
    <div class="site-tail__avatar">
      <a href="/about">
        <img src="/assets/images/me.jpg" alt="Ty King" class="site-tail__avatar-img" />
      </a>
    </div>

    <div class="site-tail__about">
      <h3 class="site-tail__author">
        <a href="/about">Ty King</a>
      </h3>

      <p class="site-tail__blurb">
        A self-taught, seasoned, and versatile developer from Newfoundland.
        <span>Crafting innovative solutions with care and expertise.</span>
      </p>
    </div>

    <div class="site-tail__blurb-ext">
      <p class="site-tail__blurb">Crafting innovative solutions with care and expertise.</p>
    </div>

    <div class="site-tail__links">
      <a href="https://github.com/gnikyt" target="_blank" rel="noopener" class="button">Github</a><a href="https://linkedin.com/in/gnikyt" target="_blank" rel="noopener" class="button">LinkedIn</a><a href="/assets/files/cv.pdf" target="_blank" class="button">CV</a><a href="/rss.xml" target="_blank" class="button">RSS</a>
    </div>
  </footer>

  <ul class="site-colors container container--short">
    <li class="site-colors__color color--a"></li>
    <li class="site-colors__color color--b"></li>
    <li class="site-colors__color color--c"></li>
    <li class="site-colors__color color--d"></li>
    <li class="site-colors__color color--e"></li>
    <li class="site-colors__color color--f"></li>
    <li class="site-colors__color color--g"></li>
    <li class="site-colors__color color--h"></li>
  </ul>
</body>
