  </main>

  <footer class="site-tail container">
    <hr class="site-tail__sep">
    <a href="/about"><img class="site-tail__avatar" src="/assets/images/me.jpg" alt="Ty King"></a>

    <div class="site-tail__inner">
      <h3 class="site-tail__author">Ty King</h3>
      <p>A self-taught, seasoned, and versatile developer from Newfoundland. Crafting innovative solutions with care and expertise.</p>

      <a href="https://github.com/gnikyt" target="_blank" rel="noopener" class="button">Github</a>
      <a href="/about" class="button">About Me</a>
      <a href="/assets/files/cv.pdf" target="_blank" class="button">CV</a>
      <a href="/rss.xml" target="_blank" class="button">RSS</a>

      <ul class="site-colors" data-scheme="cobalt">
        <li class="site-colors__color color--a"></li>
        <li class="site-colors__color color--b"></li>
        <li class="site-colors__color color--c"></li>
        <li class="site-colors__color color--d"></li>
        <li class="site-colors__color color--e"></li>
        <li class="site-colors__color color--f"></li>
        <li class="site-colors__color color--g"></li>
        <li class="site-colors__color color--h"></li>
        <li class="site-colors__color color--i"></li>
        <li class="site-colors__color color--j"></li>
      </ul>
    </div>
  </footer>
</body>
