{{>templates/_layout_head.html}}

<section class="tab">
  <header>
    <h1 class="tab__title tab__title--short post__title">Index of category / {{CATEGORY}} /</h1>
  </header>

  <div class="tab__container">
    <div class="tab__content">
      <div class="content-container">
        <p>Displaying {{CATEGORY}} entries sorted by creation date in descending order.</p>
      </div>

      <ul class="index-list index-list--no-margins index-list--category">
        {{CATEGORY_ENTRIES}}
      </ul>
    </div>
  </div>
</section>

<nav class="sources" aria-label="Related links">
  <a class="sources__link" href="/category">&lsaquo; Categories</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="sources__link" href="/">&lsaquo; Home</a>
</nav>

{{>templates/_layout_tail.html}}
