{{>templates/_layout_head.html}}

<section class="tab">
  <header>
    <h1 class="tab__title tab__title--short post__title">Index of /</h1>
  </header>

  <div class="tab__container">
    <div class="tab__content">
      <div class="content-container">
        <p>Displaying article entries sorted by creation date in descending order.</p>
      </div>

      <ul class="index-list index-list--no-margins">
        {{home_entries}}
      </ul>
    </div>
  </div>
</section>

<section class="sources">
  <a class="sources__link" href="/archive">Archive &rsaquo;</a>
</section>

{{>templates/_layout_tail.html}}
