{{>templates/_layout_head.html}}

<article class="tab post">
  <header class="post__head">
    <h1 class="tab__title tab__title--short post__title">{{TITLE}} /</h1>
  </header>

  <div class="tab__container">
    <div class="tab__content">
      <div class="content-container">
        [[parsed_md]]
      </div>
    </div>
  </div>
</article>

<section class="tab tab--appendix" aria-labelledby="appendix-heading">
  <h2 id="appendix-heading" class="tab__title tab__title--short">Appendix</h2>
  <div class="tab__container">
    <div class="tab__content">
      <div class="content-container">
        <p>
          Copyright under <a class="sources__link" href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">CC-4.0</a>.
        </p>

        <p>
          Additionally available in alternative formats: {{>templates/_sources.html}}
        </p>
      </div>
    </div>
  </div>
</section>

{{>templates/_layout_tail.html}}
