{{>templates/_layout_head.html}}

<article class="tab post">
  <header class="post__head">
    <h1 class="tab__title tab__title--short post__title">{{TITLE}} /</h1>
  </header>

  <div class="tab__container">
    <div class="tab__content">
      <div class="post__meta content-container">
        <div class="post__details">
          /* <time class="post__time" datetime="{{DATE_YMD}}">{{DATE_HUMAN}}</time>&nbsp;&nbsp;&mdash;&nbsp;&nbsp;<span class="post__size">{{POST_SIZE}}</span> */
        </div>
        <div class="post__category">
          {{@FOREACH CATEGORY ,}}
            <a href="/category/{{VALUE}}"><img src="/assets/images/category-{{VALUE}}.svg" class="post__category-logo" alt="Logo of {{VALUE}}"></a>
          {{/FOREACH CATEGORY ,}}
        </div>
      </div>

      <div class="content-container">
        [[parsed_md]]
      </div>
    </div>
  </div>
</article>

{{#ANCHORS}}
  <section class="tab tab--anchors">
    <div class="tab__title tab__title--short">Anchors</div>
    <div class="tab__container">
      <div class="tab__content">
        <ul class="anchors-list">
          {{@FOREACH ANCHORS}}
            {{@ASSIGN IS_LOCAL}}{{@STARTSWITH VALUE "/"}}true{{/STARTSWITH VALUE "/"}}{{/ASSIGN IS_LOCAL}}
            <li class="anchors-list__item">
              <strong>[{{KEY1}}]</strong> <a href="{{VALUE}}" class="sources__link anchors-list__link" rel="noopener" {{^IS_LOCAL}}target="_parent"{{/IS_LOCAL}}>{{VALUE|REPLACE "https://" ""|REPLACE "www." ""}}</a> {{^IS_LOCAL}}&#8599;{{/IS_LOCAL}}
            </li>
          {{/FOREACH ANCHORS}}
        </ul>
      </div>
    </div>
  </section>
{{/ANCHORS}}

<section class="tab tab--appendix">
  <div class="tab__title tab__title--short">Appendix</div>
  <div class="tab__container">
    <div class="tab__content">
      <div class="content-container">
        {{#IS_OLD}}{{>templates/_old_warning.html}}{{/IS_OLD}}

        <p>
          Copyright under <a class="sources__link" href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">CC-4.0</a>.
        </p>

        <p>
          Available in the following alternative formats: {{>templates/_sources.html}}
        </p>
      </div>
    </div>
  </div>
</section>

{{>templates/_layout_tail.html}}
